/* style.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
   background-color: #e6f2ff;
  font-family: 'Poppins', sans-serif;
  min-height: 90vh;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(4rem, 10vw, 7rem); /* scales between 4rem and 7rem */
  background-color: #e6f2ff;
  transition: background-color 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Logo styles */
.logo {
  height: clamp(3.5rem, 8vw, 6rem); /* scales between 3.5rem and 6rem */
  width: auto;
  transition: transform 0.3s ease;
}


/* Home Section Grid */
    .highlight {
      font-weight: bold;
      color: #d00000;
    }


/* Centered Full-Width Heading */
.home-data h1 {
  text-align: center;
  font-size: 2rem;
  color: #002c5f;
  margin-bottom: 2rem;
}

.home-data p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.tracker-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.donation-controls {
  margin-bottom: 1.5rem;
}
.info-section {
  margin-top: 2rem;
}


/* Tracker Section Styles */
.tracker-section {
  background: #f9f9fb;
  opacity: 1;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 1rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

@media (min-width: 900px) {
  .tracker-section {
    padding: 1.5rem 6rem;
  }
}

.tracker-section h2 {
  text-align: center;
  font-size: 2rem;
  color: #002c5f;
  margin-bottom: 1rem;
}


.animate-pulse-slow {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}




/* Footer */
.footer {
  background-color: #2f2f2f;
  color: #fff;
  padding: 20px 16px 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.footer-content p {
  font-size: 14px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #ffb347;
  transform: scale(1.2);
}

.footer-note {
  margin-top: 10px;
  font-size: 12px;
  color: #bbb;
}

